body {
	margin: 0;
	font-size: 40px;
}

.panels {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
}

.panel {
	flex: 1;
	box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
	color: white;
	text-align:center;
	transition:
			font-size 0.7s ease,
			flex 0.7s ease,
			background 0.2s;
	background-size: cover;
	background-position: center;
	align-items:center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.panel > * {
	margin: 0;
	width: 100%;
	transition: transform 0.5s;
	flex: 1 0 auto;
	display: flex;
	align-items:center;
	justify-content: center;
}

.panel > *:first-child {
	transform: translateY(-100%);
}
.panel.open-active > *:first-child  {
	transform: translateY(0);
}
.panel > *:last-child {
	transform: translateY(100%);
}
.panel.open-active > *:last-child  {
	transform: translateY(0);
}

.panel.open{
	flex: 5;
	font-size: 80px;
}

.panel1 {
	background-image: url('https://source.unsplash.com/category/nature');
}
.panel2 {
	background-image: url('https://source.unsplash.com/category/food');
}
.panel3 {
	background-image: url('https://source.unsplash.com/category/people');
}
.panel4 {
	background-image: url('https://source.unsplash.com/category/technology');
}
.panel5 {
	background-image: url('https://source.unsplash.com/category/objects');
}